body{
margin:0;
text-align:center;
font-family:Arial;
background:#70c5ce;
}

#gameCanvas{
display:block;
margin:auto;
border:3px solid black;
}

#startScreen{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:30px;
border-radius:10px;
}

#gameOverScreen{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:20px;
border-radius:10px;
display:none;
}

#infoButton{
position:absolute;
top:10px;
right:10px;
width:40px;
height:40px;
font-size:20px;
cursor:pointer;
}

#instructions{
position:absolute;
top:60px;
right:10px;
background:white;
padding:15px;
border-radius:8px;
display:none;
width:180px;
}
